.textInput {
    display: flex;
}
.textArea {
    min-height: 10em;
}
.titleStyle {
    margin-left: 40%;
}
.beschreibungStyle {
    margin-left: 30%;
}

.buttonStartDelete {
    margin-left: 45%;
}
.showTable {
    margin-left: 21%;
    margin-right: 30%;
}
